*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
}

.navbar-nav{
  font-size: 20px;
  text-transform: uppercase;
}

.nav-item{
  margin-left: 30px;
}

.navbar-toggler{
  display: none;
}

@media only screen and (max-width: 768px){
  .navbar-toggler{
    display: block;
  }

  .offcanvas{
    margin-top: 17%;
  }

}



/* home css  */

.carousel{
    margin-top: .5%;
}

.txt{
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 200%;
    opacity: 0.7;
    background-color: black;
}

.txt h1{
    position: absolute;
    top: 40%;
    left: 20%;
    right: 20%;
    text-align: center;
}

.button11{
    text-transform: capitalize;
    position: absolute;
    top: 80%;
    left: 45%;
    background: #28A745;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}

.button11 a{
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 768px){
  .txt h1{
    position: absolute;
    top: 37%;
    left: 18%;
    right: 18%;
    text-align: center;
    font-size: 15px;
  }

  .button11{
    text-transform: capitalize;
    position: absolute;
    top: 70%;
    left: 33%;
    background: #28A745;
    padding: 5px 30px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
  }

  .carousel-item{
    height: 55vh;
  }
}



/* home css  */

.ticker{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    position: absolute;
    left: 0;
}

.news{
    width: 90%;
    margin-top: 3%;
    padding: 5px;
}

.title{
    width: 10%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background: #28A745;
    position: relative;
    border-radius: 10px;
}

.title h5{
    color: white;
    font-size: 30px;
    margin-top: 12%;
    text-transform: uppercase;
}


.title:after{
    position: absolute;
    content: "";
    right: -16%;
}

@media only screen and (max-width: 768px){

  .ticker{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    left: 0;
  }

  .title{
    width: 20%;
    padding: 10px;
    text-align: center;
    background: #28A745;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .title h5{
    color: white;
    font-size: 15px;
    margin-top: 40%;
  }

  .news{
    width: 80%;
    margin-top: 10%;
  }
}


/* about css  */


.about{
    width: 100%;
    width: 70%;
    margin-top: 10%;
    text-align: center;
    margin-left: 15%;
    margin-bottom: 10%;
}


.about .txt1{
    color: #28A745;
    text-transform: uppercase;
    font-size: 30px;
}

.about .btn-1{
    margin-top: 30px;
    background: #28A745;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
}


.about .txt2{
    margin-top: 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: #28A745;
}


@media only screen and (max-width: 768px){
  .about{
    width: 100%;
    width: 70%;
    margin-top: 30%;
    text-align: center;
    margin-left: 15%;
  }

  .about h1{
    color: #28A745;
    text-transform: uppercase;
    font-size: 20px;
  }

  .about .txt2{
    margin-top: 30px;
    font-size: 15px;
    text-transform: uppercase;
    color: #28A745;
  }
}


/* courses css  */


.text-course{
    color: #28A745;
    font-size: 38px;
    text-align: center;
    margin-bottom: 5%;
    text-transform: uppercase;
}

.card-title{
  text-align: center;
}

.card-body h4{
    text-align: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border: none;
}

.btn3{
  margin-left: 43%;
  background: #28A745;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  border: none;
}

.btn3 a{
  text-decoration: none;
  color: white;
}




@media only screen and (max-width: 768px){



  .col1{
    display: none;
  }

  .btn3{
    margin-top: 10%;
    margin-left: 30%;
    border: none;
  }
}


/* review css  */

.review-student{
  margin-top: 10%;
  background-color: #28A745;
  padding: 100px;
}

.review1{


}

.card1{
  align-items: center;
}

.card1 img{
  border-radius: 100px;
  height: 90px;
  width: 90px;
  margin-left: 35%;
  border: 1px solid black;
}

.star-icon{
  margin-left: 38%;
}

.card-title{
  margin-top: 10%;
}

.card-text{
  margin-top: 10%;
  text-align: center;
  font-size: 20px;
}



@media only screen and (max-width: 768px){
  .card1{
    margin-left: 5%;
    margin-bottom: 10%;
  }
}




/* counter css  */


.counter-number{
  margin-top: 10%;
  text-align: center;
  padding: 50px;
}

.counter-numbers{
  font-size: 30px;
  color: #28A745;
}

.icon{
  font-size: 50px;
  color: black;
}

.icon h3{
  color: black;
}

@media only screen and (max-width: 768px){
  .icon{
    margin-bottom: 30px ;
    border: none;
    box-shadow: 3px 3px 3px gray;
    border-radius: 20px;
  }

}



  /* footer css  */


.footer{
  margin-top: 20%;
  background: #28A745;
  color: white;
  padding: 80px;
}

.footer ul{
  list-style: none;
}

.footer ul li a{
  text-decoration: none;
  color: white;
  list-style-type: none;
}
.footer-col h1{
  font-size: 30px;
  margin-bottom: 5%;
  text-transform: uppercase;
}

.copyRight{
  background: #0D6220;
  padding: 20px;
  color: white;
}

.copyRight h1{
  text-align: center;
  font-size: 20px;
}

.copyRight1{
  margin-top: 5%;
  background: #0D6220;
  text-align: center;
}

.copyRight1 h1{
  font-size: 15px;
  color: white;
  padding: 20px;
}

@media only screen and (max-width: 768px){
  .footer{
    margin-top: 15%;
  }

  .Help-link{
    margin-left: 40px;
  }

  .footer ul{
    margin-left: 10px;
  }

  .footer p{
    margin-right: 10%;
  }

  .copyRight h1{
    font-size: 20px;
  }

  .footer-text{
    margin-left: 40px;
  }

}


/* Student result  */


.student{
  margin-top: 5%;
  text-align: center;
}

.student h1{
  font-size: 50px;
  color: #28A745;
  text-transform: uppercase;
}


.result{
  margin-top: 5%;
  text-align: center;
}

.result input{
  outline: none;
}

.result h3{
  margin-bottom: 3%;
  font-size: 30px;
}

.result input{
  width: 50%;
  padding: 10px 0;
}

.btn-2{
  background: #28A745;
  margin-top: 3%;
  margin-left: 43%;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  border: none;
}


.result1{
  margin-left: 5%;
}

.Details-result{
  margin-top: 10%;
}

.Details-result h1{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5%;
}


.result-details{
  display: flex;
  padding: 20px;
  margin-left: 10%;
}

.result-details1{
  display: flex;
  padding: 20px;
  margin-left: 10%;
}

.details ul{
  list-style: none;
}

.details ul li{
  list-style: none;
}

.details span{
  font-weight: 500;
}



table, td{
  font-size: 20px;
  padding: 17px;
  text-align: center;
}

.table-row{
  position: absolute;
  left: 17%;
  top: 90%;
  bottom: 0%;
}

.table-wrapper{
  margin-top: 10%;
  margin-left: 22%;
}



@media only screen and (max-width: 768px){
  .student h1{
    font-size: 30px;
    color: #28A745;
    text-transform: uppercase;
  }

  .result h3{
    margin-bottom: 3%;
    font-size: 20px;
  }

  .btn-2{
    margin-left: 27%;
  }

  .table-result{
    height: 50vh;
  }

  .Details-result h1{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5%;
  }


  .table-row{
    position: absolute;
    left: 0%;
    top: 102%;
    bottom: 0%;
  }

  .th{
    position: sticky;
    top: 0px;
  }
  .table-wrapper{
    width: 90%;
    max-height: 100px;
    overflow: scroll;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
    max-width: fit-content;
    max-height: fit-content;
  }

  .outer-wrapper{
    border: 1px solid black;
    margin: 20px;
    border-radius: 5px;
  }

  .table-wrapper2{
    width: 90%;
    max-height: 100px;
    overflow: scroll;

    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
    max-width: fit-content;
    max-height: fit-content;
  }

  .outer-wrapper2{
    margin: 20px;
    border-radius: 5px;
  }



}


/* branch apply css  */

.box-apply{
  margin-top: 5%;
  padding: 50px;
}

.box-apply h1{
  font-size: 40px;
  color: #28A745;
  text-transform: uppercase;
  text-align: center;
}


.Branch{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.Branch input{
  outline: none;
}

.box-apply label{
  margin-bottom: 1%;
}

.box-apply input{
  margin-bottom: 2%;
  outline: none;
}

.box-apply .input1{
  margin-bottom: 2%;
}

.btn-3{
  background: #28A745;
  margin-top: 3%;
  margin-left: 42%;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  border: none;
}

@media only screen and (max-width: 768px){
  .btn-3{
    margin-left: 5%;
  }

  .input1{
    margin-left: 0%;
  }

  .Branch input{
    margin-bottom: 20px;
  }

  .Branch label{
    margin-bottom: 10px;
  }

}


/* branch login css  */

.login{
  margin-top: 5%;
}

.login h1{
  text-align: center;
  font-size: 40px;
  color: #28A745;
  text-transform: uppercase;
}


.branch-login{
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.branch-login input{
  margin-bottom: 2%;
  border: none;
  outline: none;
}

.branch-login label{
  margin-bottom: 2%;
}

.checkBox{
  margin-top: 1%;
  margin-bottom: 2%;
}

.checkBox button{
  margin-left: 60%;
  background: #28A745;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  border: none;
}

.checkBox button a{
  text-decoration: none;
  color: white;
}


@media only screen and (max-width: 768px){
  .login h1{
    text-align: center;
    font-size: 20px;
    color: #28A745;
    text-transform: uppercase;
  }

  .checkBox{
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .checkBox button{
    margin-top: 2%;
    margin-left: 1%;
    background: #28A745;
    padding: 5px 50px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
  }

  .branch-login h3{
    margin-top: 5%;
    font-size: 20px;
  }
}




/* courses list css  */

.courses-list{
  margin-top: 5%;
}




/* ============================= */

/* Dashboard css  */


:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}


.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}



/* dashboard profile css  */


.dash-Profile{
  margin-top: 10%;
}

.social-icon{
  font-size: 50px;
}

.social-icon a{
  text-decoration: none;
  color: rgb(51, 51, 51);
}



@media (min-width: 768px) {
  .dash-Profile{
    margin-top: 10%;
    height: 100vh;
  }

  .dash-Profile img{
    margin-bottom: 10%;
  }
}


/* Student list css  */

.Student-list{
  height: 80vh;
}

.S-list{
  margin-top: 5%;
}

.S-list input{
  margin-bottom: 10%;
  border: none;
  border-bottom: 1px solid black;
}

.S-list label{
  margin-bottom: 2%;
}

.btn-s-list{
  padding: 5px 30px;
  border: none;
}

/* student list table start */

.heading {
  text-align: center;
  background-color: #3f3f3f;
  box-shadow: 0px 1px 2px #232f3e;

}
h1 {
  color: #ffc107;
  font-weight: bold;
  background: transparent;
  padding: 7px;
  
}


.outer-wrapper1 {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
  max-width: fit-content;
  max-height: fit-content;

  
}
.table-wrapper1 {

  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  max-height: 66.4vh;
  
  margin-top: 22px;
  
  margin: 15px;
  padding-bottom: 20px;
  
}


table {
  
  min-width: max-content;
  
  border-collapse: separate;
  border-spacing: 0px;    
  
}



table th{

  color: black;
  
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  outline: 0.7px solid black;
  border: 1.5px solid black;

} 



table th, table td {
  
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

table td {
  text-align: left;
  
  font-size: 15px;
  border: 1px solid rgb(177, 177, 177);
  padding-left: 20px;
  
}

.table-btn{
  background: #ffc107;
  color: black;
  border: none;
  padding: 5px 10px;
  box-shadow: 1px 1px 1px gray;
}

/* student list table end  */

@media only screen and (max-width: 768px){
  .Student-list{
    height: 145vh;
  }
}


/* Registration css  */

.reg-text{
  color: red;
  text-align: center;
  font-size: 15px;
  margin-bottom: 5%;
}

.Student-Reg{
  height: 260vh;
}

.St-Reg{
  margin-top: 0%;
}

.St-Reg input{
  margin-bottom: 5%;
  border: none;
  border-bottom: 1px solid black;
}

.St-Reg label{
  margin-top: 5%;
  margin-bottom: 2%;
}

.Reg-choose label{
  margin-top: 3%;
  margin-bottom: 2%;
}

.btn-s-reg{
  padding: 5px 30px;
  border: none;
  margin-top: 5%;
}

@media only screen and (max-width: 768px){
  .Student-Reg{
    height: 380vh;
  }

  .btn-s-reg{
    padding: 5px 30px;
    border: none;
    margin-top: 7%;
  }
}
















